.headerButton {
  margin-top: 7%;
  margin-left: 3%;
  padding-left: 25px;
  padding-right: 25px;
  background-color: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  /* border-bottom: 1px solid rgba(255, 255, 255); */
  text-shadow: 0px 0px 0px transparent;
  font-size: 1.05em;
  float: right;
}

.marginRight {
  margin-right: 1%;
}

h1 {
  color: rgba(255, 255, 255);
  font-size: 8em;
  line-height: 0.9;
}

h2 {
  color: rgba(255, 255, 255);
  font-size: 6em;
  line-height: 0.9;
}

.h1margin {margin-top: 50vh - 200;}
.h3margin {margin-top: 25px;}

h3 {
  font-size: 1.3em;
  line-height: 135%;
}

h4 {
  margin-top: 25px;
  color: rgba(253, 190, 0);
  font-size: 4em;
  line-height: 1;
}

p {font-family: 'Source Sans Pro', serif;}

body {
  background-color: transparent;
}

#canvasContainer {position: fixed; z-index: -100;}

.black {background-color: rgba(20, 20, 20);}
.white {background-color: rgba(255, 255, 255);}
.yellow {background-color: rgba(250, 183, 0);}
.blackText {color: rgba(40, 40, 40);}
.whiteText {color: rgba(255, 255, 255);}
.yellowText {color: rgba(233, 183, 0);}
.yellowText2 {color: rgba(145, 104, 0);}

.oswald {font-family: 'Oswald', sans-serif;}
.garamond {font-family: 'EB Garamond', serif;}
.centerText {text-align: center;}

.whiteBorder {
  border-style: solid;
  border-color: rgba(255, 255, 255);
  border-width: thin;
}

.zindex1 {
  z-index: 1;
}

.floatRight {float: right;}

.canvasDimensions {
  height: 100vh;
  min-height: 800px;
}

.nameDiv {
  position: absolute;
  top: 26%;
}
.emptyNameDiv {height: 500px;}

.contactDiv {
  padding: 25px;
  border: solid rgba(255, 255, 255);
  margin-top: 250px;
}

.bio {margin-top: 260px;}

.arrow {margin-left: 53px; font-size: 5em;}

.divBorder {border-left: 4px solid; border-color: rgba(145, 104, 0);}


.search {
  border-radius: 25px;
  border: 0px solid transparent;
}

.upvoteButton {
  /* margin-left: 300px; */
  margin-left: 10px;
  background-color: rgba(250, 183, 0);
  border-color: rgba(250, 183, 0);
  border-radius: 25px;
}

.upvoteBox {
  padding: 10px;
  width: 85px;
  border-style: solid;
  border-width: thin;
  border-color: rgba(250, 183, 0);
}

.minusSlantedDiv {
    padding-top: 50px;
    top: 0;
    transform: skewY(-2deg);
    transform-origin: 100% 0;


}

.topDiv {
  width: 100%;
  padding-top: 50px;
}

.bottomDiv {
  width: 100%;
}

.bottomMargin {margin-bottom: 70px;}
.topMargin {margin-top: 50px;}
.marginTop {margin-top: 8%;}
